<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Storefront test suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/10/11 11:23:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebOperation.setParams(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">&gt;&gt;setParams</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1596503963</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/11 11:23:18</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WithDrawTest.beforeClass()[pri:0, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1596503963</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/11 11:23:24</td>   <td>6476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Login()[pri:0, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">Login</td> 
  <td>TestNG@1596503963</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/11 11:23:25</td>   <td>7102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">Transaction</td> 
  <td>TestNG@1596503963</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/11 11:23:25</td>   <td>7152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">Transaction</td> 
  <td>TestNG@1596503963</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/11 11:23:25</td>   <td>7207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Quit()[pri:2, instance:com.automation.mobidram.WithDrawTest@5e3a8624]">Quit</td> 
  <td>TestNG@1596503963</td>   <td></td> </tr>
</table>
