<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WithDraw</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>18/11/20 16:30:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Login()[pri:0, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">Login</td> 
  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/11/20 16:30:48</td>   <td>7313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">Transaction</td> 
  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/11/20 16:31:51</td>   <td>69775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">Transaction</td> 
  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/11/20 16:32:47</td>   <td>126268</td> <td>&nbsp;</td><td title="&lt;&lt;WithDrawTest.afterTest()[pri:0, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/11/20 16:30:37</td>   <td>-4025</td> <td>&nbsp;</td><td title="&gt;&gt;WithDrawTest.beforeTest()[pri:0, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/11/20 16:30:37</td>   <td>-4048</td> <td>&nbsp;</td><td title="&gt;&gt;WebOperation.setParams(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.mobidram.WithDrawTest@6a41eaa2]">&gt;&gt;setParams</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2081413897</td>   <td></td> </tr>
</table>
