<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>18/10/10 14:14:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RefillAndTransferBankTest.Login()[pri:0, instance:com.automation.mobidram.RefillAndTransferBankTest@358ee631]">Login</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/10/10 14:14:23</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransferBankAccountTest.Login()[pri:0, instance:com.automation.mobidram.TransferBankAccountTest@ec756bd]">Login</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/10/10 14:14:23</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RefillAndTransferBankTest.Refill()[pri:1, instance:com.automation.mobidram.RefillAndTransferBankTest@358ee631]">Refill</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/10/10 14:14:23</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransferBankAccountTest.Transfer()[pri:1, instance:com.automation.mobidram.TransferBankAccountTest@ec756bd]">Transfer</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/10/10 14:14:23</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RefillAndTransferBankTest.Transfer()[pri:2, instance:com.automation.mobidram.RefillAndTransferBankTest@358ee631]">Transfer</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/10/10 14:14:23</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransferBankAccountTest.Quit()[pri:2, instance:com.automation.mobidram.TransferBankAccountTest@ec756bd]">Quit</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/10/10 14:14:23</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RefillAndTransferBankTest.Quit()[pri:3, instance:com.automation.mobidram.RefillAndTransferBankTest@358ee631]">Quit</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/10/10 14:14:23</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Login()[pri:0, instance:com.automation.mobidram.WithDrawTest@3c72f59f]">Login</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/10/10 14:14:23</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@3c72f59f]">Transaction</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/10/10 14:14:23</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Transaction()[pri:1, instance:com.automation.mobidram.WithDrawTest@3c72f59f]">Transaction</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/10/10 14:14:23</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WithDrawTest.Quit()[pri:2, instance:com.automation.mobidram.WithDrawTest@3c72f59f]">Quit</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/10/10 14:14:23</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRefillTest.Login()[pri:0, instance:com.automation.mobidram.AccountRefillTest@60dcc9fe]">Login</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/10/10 14:14:23</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRefillTest.Refill()[pri:1, instance:com.automation.mobidram.AccountRefillTest@60dcc9fe]">Refill</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/10/10 14:14:23</td>   <td>180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRefillTest.Quit()[pri:2, instance:com.automation.mobidram.AccountRefillTest@60dcc9fe]">Quit</td> 
  <td>main@1125381564</td>   <td></td> </tr>
</table>
